## Siege pressure test report

### Stage 1

| ID   | Cocurrency | Transactions | Availability | Concurrency | Response time | Transaction rate | Successful transactions | Failed transactions |      |
| ---- | ---------- | ------------ | ------------ | ----------- | ------------- | ---------------- | ----------------------- | ------------------- | ---- |
| 1    | 5          | 34           | 35.42 %      | 2.00        | 3.52 secs     | 0.57 trans/sec   | 34                      | 62                  |      |
| 2    |            |              |              |             |               |                  |                         |                     |      |
| 3    |            |              |              |             |               |                  |                         |                     |      |
| 4    |            |              |              |             |               |                  |                         |                     |      |
|      |            |              |              |             |               |                  |                         |                     |      |

